{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
Stripe.setPublishableKey('{{ publishable_key }}');
        var stripeResponseHandler = function(status, response) {
            var $form = $('#updateForm');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {
                // need to clear ssn so we aren't sending sensitive info to server
                $form.find('button').prop('disabled', false);
                $("#id_ssn").val("");
                var token = response.id;
                $("#id_token").val(token);
                $("#updateForm").submit();
                $form.find('button').prop('disabled', true);
            }
        };
        jQuery(function($) {
            $('#updateForm').on('click', '#updateAccount', function(e) {
                $("#id_token").val("");
                var ssn = $('#id_ssn').val();
                if (ssn){
                    e.preventDefault();
                    var $form = $(this);

                    // Disable the submit button to prevent repeated clicks
                    $form.find('button').prop('disabled', true);
                    Stripe.piiData.createToken({
                        personal_id_number: ssn
                    }, stripeResponseHandler);
                    return false;
                }else{
                    return true;
                }
            });
        });
    </script>
</script>
{% endblock extrahead %}

{% block title %}
    {{ title }} | {% trans "Stylist Accounts" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'stylists:list' %}">{% trans "Stylist Accounts" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <div class="well">
        <form action="" method="POST" enctype="multipart/form-data" id="updateForm">
            {% csrf_token %}
            <span class="payment-errors" style="color: red"></span>
            {% include 'partials/form_fields.html' with includes_files=1 class='wysiwyg' %}
            <div class="form-actions">
                <button id="updateAccount" class="btn btn-large btn-primary" type="submit">{% trans "Save" %}</button>
                {% trans "or" %} <a href="#" onclick="window.history.go(-1);return false" >{% trans "cancel" %}</a>.
            </div>
        </form>
    </div>
{% endblock dashboard_content %}
