{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load stylists_extra %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'stripe:list' %}">{% trans "Managed Accounts" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered table-hover">
        <caption>{{ title }}</caption>
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Stripe Account ID" %}</th>
                {% block stripe_account_head %}
                    <th>{% trans "Stripe Legal Entity" %}</th>
                {% endblock stripe_account_head %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'dashboard:user-detail' pk=account.user.pk %}">{{ account.user.get_full_name }}</a></td>
                <td>{{ account.stripe_id }}</td>
                {% block stripe_account %}
                    <td>{{ stripe_account.legal_entity }}</td>
                {% endblock stripe_account %}
            </tr>
        </tbody>
    </table>
{% endblock dashboard_content %}

