{% extends 'dashboard/layout.html' %}

{% load i18n %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'stripe:list' %}">{% trans "Managed Accounts" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}

        <p>{% trans "Delete Account for " %}<strong>{{ username }}</strong>{% trans " - are you sure?" %}</p>

        <div class="form-actions">
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            {% trans "or" %}
            <a href="{% url 'stripe:list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock %}
