{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {{ title }} | {% trans "Managed Accounts" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'stripe:list' %}">{% trans "Managed Accounts" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    {% if notes %}
        <table class="table table-striped table-bordered table-hover">
            <caption><i class="icon-sitemap icon-large"></i>{% trans 'Notes' %}</caption>
            <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Message" %}</th>
                    <th>{% trans "Date created" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.user }}</td>
                        <td>{{ note.message }}</td>
                        <td>{{ note.date_created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no notes for this managed account." %}</p>
    {% endif %}
{% endblock dashboard_content %}