{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Managed Accounts" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% if accounts %}
        {% render_table accounts %}
    {% else %}
        <p>{% trans "No managed accounts found." %}</p>
    {% endif %}
{% endblock dashboard_content %}

